$base-color: #FE0000;
$important-color: #660000;
$warning-color: #FFBFCD;
$border-radius: 5px;
$font-family-boxes: 'Courier New', Courier, monospace;
$font-family-1: Arial, Helvetica, sans-serif;
$font-family-2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-weight: bold;
$box-shadow: -20px 20px 25px 5px black;