$header-color: #CDDE1C;
$side-bar-color: #393E06;
$text-color: #FFFFFF;
$side-bar-bg-color: #F9FBE3;
$main-bg-color: #F1F1F1;
$card-bg-color: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    header {
        display: flex;
        flex-direction: column;
        .toolbar {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
        .page-title {
            padding: 20px;
            color: $text-color;
            background-color: $header-color;
        }
    }
    .page-container {
        display: flex;
        flex: 1;
        background-color: $side-bar-color;
        .nav {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            width: 200px;
            height: max-content;
            
            .menu-container {
                
                .menu-title {
                    padding: 20px;
                    font-size: 20px;
                    color: $text-color;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }
    
                ul {
                    width: 100%;
    
                    li {
                        margin: 1px;
                        padding: 10px;
                        background-color: $side-bar-bg-color;
                        list-style: none;
                    }
                }
            }
        }
    
        main {
            
            background-color: $main-bg-color;
            .list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 30px 30px 30px 30px;
    
                .card {
                    margin: 20px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid black;
                    width: 370px;
                    align-items: center;
                    text-align: left;
                    padding: 20px;
                    border-radius: 5px;
                    background-color: $card-bg-color;
    
                    img {
                        width: 100%;
                        max-width: 140px;
                        border-radius: 50%;
                        margin-bottom: 10px;
                        
                    }
                    
                    
                    .member-name {
                        width: 100%;
                        text-align: center;
                        font-size: 24px;
                    }
                }
            }
        }
    }
    footer {
        background-color: $side-bar-bg-color;
        padding: 20px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1070px){
    body {
        .page-container {
            main {
                .list {
                    .card {
                        margin: 5px;
                        
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 768px){
    body {
        header {
            .toolbar {
                display: none;
            }
        }
        .page-container {
            flex-direction: column;
            
            .nav {
                width: 100%;
                height: auto;
                padding: 20px;
                background-color: $side-bar-color;
                .menu-container {
                    .menu-title {
                        display: none;
                    }
                    ul {
                        display: flex;
                        justify-content: space-around;
                        
                        li {
                            width: 100px;
                            text-align: center;
                        }
                    }
                }
            }
    
            main {
                margin-left: 0px;
                .list {
                    .card {
                        width: 100%;
                        flex-direction: row;
                        border-radius: 0;
                        margin: 0;
                        margin-top: 2px;
                        margin-bottom: 2px;
                        border: none;
                        .member-name {
                            text-align: left;
                        }
                        img {
                            width: 100%;
                            max-width: 140px;
                            margin-right: 20px;
                            border-radius: 50%;
                        }
                        
                    }
                }
            }
        }
    }
    
}
